# =========================
# 1. APIキー・環境変数
# =========================
.env


# =========================
# 2. Pythonキャッシュ
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# 3. inputのPDFファイル
# =========================
input/

# =========================
# 4. ベクトルストア
# =========================

vectorstore_r2/
*.faiss
*.pkl

vectorstore_r3/
*.faiss
*.pkl

.DS_Store

*.ipynb

make_json.py
generate_integration_json.py